.person-container {
    position: relative;
    /* position: absolute; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 100vh;
    width: 200px;
}

.person-container + .left {
    /* display: flex; */
    justify-content: flex-start;
}

.person-container + .right {
    /* display: flex; */
    justify-content: flex-end;
}

.personage {
    position: absolute;
    bottom: 0;
    display: flex;

    z-index: -1;
}

.personage img {
    height: 50vh;
    /* height: 250px; */
}
